// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Aida Andrades Valtuena (@aidaanva)'
  config_profile_description = 'nf-core/mag for big data'
}

process {
    withName: SPADES {
        errorStrategy = { task.exitStatus in [143,137,21,1,250] ? 'retry' : 'finish' }
        maxRetries    = 3
        cpus = 32
        memory = 250.GB
    }
    withName: MEGAHIT {
        errorStrategy = { task.exitStatus in [143,137,21,1,250] ? 'retry' : 'finish' }
        maxRetries    = 3
        cpus = 16
        memory = 80.GB
    }
    withName: SPADESHYBRID {
        errorStrategy = { task.exitStatus in [143,137,21,1,250] ? 'retry' : 'finish' }
        maxRetries    = 3
        cpus = 32
        memory = 250.GB
    }
    withName: BOWTIE2_ASSEMBLY_ALIGN {
        maxRetries    = 3
        cpus = 32
        memory = 64.GB
    }
    withName: CONCOCT_CONCOCT {
        errorStrategy = { task.exitStatus in (130..145) ? 'retry' : task.exitStatus  == 255  ? 'ignore' : 'finish' }
    }
}
profiles {
  local_paths {
    params {
      config_profile_description = 'Path to relevant files for GTDB, host removal'
      gtdb_db = '/mnt/archgen/microbiome_sciences/reference_databases/source/gtdb/gtdbtk_r220_data/release220'
      host_fasta = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa'
    }
  }
  single_stranded {
    params {
            adapterremoval_adapter2 = 'GGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'
    }
  }
}
